## Java

*.class
*.war
*.ear
hs_err_pid*

## Robovm
/ios/robovm-build/

## GWT
/html/war/
/html/gwt-unitCache/
.apt_generated/
.gwt/
gwt-unitCache/
www-test/
.gwt-tmp/

## Android Studio and Intellij and Android in general
/android/libs/armeabi-v7a/
/android/libs/arm64-v8a/
/android/libs/x86/
/android/libs/x86_64/
/android/gen/
.idea/
*.ipr
*.iws
*.iml
/android/out/
com_crashlytics_export_strings.xml

## Eclipse

.classpath
.project
.metadata/
/android/bin/
/core/bin/
/desktop/bin/
/html/bin/
/ios/bin/
*.tmp
*.bak
*.swp
*~.nib
.settings/
.loadpath
.externalToolBuilders/
*.launch

## NetBeans

/nbproject/private/
/android/nbproject/private/
/core/nbproject/private/
/desktop/nbproject/private/
/html/nbproject/private/
/ios/nbproject/private/


/nbbuild/
/android/nbbuild/
/core/nbbuild/
/desktop/nbbuild/
/html/nbbuild/
/ios/nbbuild/

/dist/
/android/dist/
/core/dist/
/desktop/dist/
/html/dist/
/ios/dist/

/nbdist/
/android/nbdist/
/core/nbdist/
/desktop/nbdist/
/html/nbdist/
/ios/nbdist/

nbactions.xml
nb-configuration.xml

## Gradle

/local.properties
.gradle/
gradle-app.setting
/build/
/android/build/
/core/build/
/desktop/build/
/html/build/
/ios/build/
/test/build/
/main/build/
## OS Specific
.DS_Store
Thumbs.db

## iOS
/ios/xcode/*.xcodeproj/*
!/ios/xcode/*.xcodeproj/xcshareddata
!/ios/xcode/*.xcodeproj/project.pbxproj
/ios/xcode/native/
/ios/IOSLauncher.app
/ios/IOSLauncher.app.dSYM
/tests/build/reports/tests/test/css/base-style.css
/tests/build/reports/tests/test/index.html
/tests/build/tmp/test/jar_extract_4137047394432100178_tmp
/tests/build/tmp/test/jar_extract_7153118010987237102_tmp
/tests/build/tmp/test/jar_extract_11021940459629264790_tmp
/tests/build/test-results/test/binary/output.bin
/tests/build/test-results/test/binary/output.bin.idx
/tests/build/tmp/compileTestJava/previous-compilation-data.bin
/tests/build/reports/tests/test/js/report.js
/tests/build/test-results/test/binary/results.bin
/tests/build/reports/tests/test/css/style.css
/tests/build/reports/tests/test/packages/eng1.group9.tests.html
/tests/build/reports/tests/test/classes/eng1.group9.tests.Movement.html
/tests/build/tmp/test/jar_extract_1107990865484358650_tmp
/tests/build/tmp/test/jar_extract_1297642016376157137_tmp
/tests/build/tmp/test/jar_extract_1350466327393958199_tmp
/tests/build/tmp/test/jar_extract_1427716824524567330_tmp
/tests/build/tmp/test/jar_extract_1529006436705437574_tmp
/tests/build/tmp/test/jar_extract_1764249937426270838_tmp
/tests/build/tmp/test/jar_extract_2110522685646679382_tmp
/tests/build/tmp/test/jar_extract_2883556906329410753_tmp
/tests/build/tmp/test/jar_extract_3680296471411885609_tmp
/tests/build/tmp/test/jar_extract_3740170171762239483_tmp
/tests/build/tmp/test/jar_extract_3880128330522995149_tmp
/tests/build/tmp/test/jar_extract_4880397972656662575_tmp
/tests/build/tmp/test/jar_extract_5160460038759925486_tmp
/tests/build/tmp/test/jar_extract_5891054903259273901_tmp
/tests/build/tmp/test/jar_extract_5955842330821351229_tmp
/tests/build/tmp/test/jar_extract_6141312016379733383_tmp
/tests/build/tmp/test/jar_extract_6514986669308693713_tmp
/tests/build/tmp/test/jar_extract_7005752277206540923_tmp
/tests/build/tmp/test/jar_extract_7765003492000759690_tmp
/tests/build/tmp/test/jar_extract_8034422165178001234_tmp
/tests/build/tmp/test/jar_extract_8175903309433704494_tmp
/tests/build/tmp/test/jar_extract_8802602454517220161_tmp
/tests/build/tmp/test/jar_extract_9341037145734120050_tmp
/tests/build/tmp/test/jar_extract_9862396323510203123_tmp
/tests/build/tmp/test/jar_extract_10769741178225688625_tmp
/tests/build/tmp/test/jar_extract_10912389912648674521_tmp
/tests/build/tmp/test/jar_extract_11035508042211632839_tmp
/tests/build/tmp/test/jar_extract_11283833612755044378_tmp
/tests/build/tmp/test/jar_extract_12224091016805157856_tmp
/tests/build/tmp/test/jar_extract_12281483733615941117_tmp
/tests/build/tmp/test/jar_extract_12345013137612559274_tmp
/tests/build/tmp/test/jar_extract_12576159077399866263_tmp
/tests/build/tmp/test/jar_extract_12622148513789045643_tmp
/tests/build/tmp/test/jar_extract_12947332577040078448_tmp
/tests/build/tmp/test/jar_extract_13136781574515879936_tmp
/tests/build/tmp/test/jar_extract_13461104790864587047_tmp
/tests/build/tmp/test/jar_extract_13636253715962702733_tmp
/tests/build/tmp/test/jar_extract_14602976591520344846_tmp
/tests/build/tmp/test/jar_extract_14694052505191349957_tmp
/tests/build/tmp/test/jar_extract_15022782698914430893_tmp
/tests/build/tmp/test/jar_extract_15050249143211000266_tmp
/tests/build/tmp/test/jar_extract_15727947005498264990_tmp
/tests/build/tmp/test/jar_extract_15752614959620200063_tmp
/tests/build/tmp/test/jar_extract_15821262163815030893_tmp
/tests/build/tmp/test/jar_extract_15935823153861003379_tmp
/tests/build/tmp/test/jar_extract_15943133610026847273_tmp
/tests/build/tmp/test/jar_extract_16049726723779849147_tmp
/tests/build/tmp/test/jar_extract_16168043448347623006_tmp
/tests/build/tmp/test/jar_extract_16317052895250927008_tmp
/tests/build/tmp/test/jar_extract_16317549851081717893_tmp
/tests/build/tmp/test/jar_extract_16528057937561865958_tmp
/tests/build/tmp/test/jar_extract_16692710102300921528_tmp
/tests/build/tmp/test/jar_extract_17186018465649846431_tmp
/tests/build/tmp/test/jar_extract_17371763243939474350_tmp
/tests/build/tmp/test/jar_extract_17574035692231024653_tmp
/tests/build/tmp/test/jar_extract_17904553534027433640_tmp
/tests/build/tmp/test/jar_extract_18341239298280552831_tmp
/tests/build/tmp/compileTestJava/compileTransaction/stash-dir/Movement.class.uniqueId0
/tests/build/test-results/test/TEST-eng1.group9.tests.Movement.xml
